.mega input {
    width: 50px;
    padding: 3px 8px;
    margin: 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mega button {
    padding: 5px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    background-image: linear-gradient(101deg, #7CFC00, #00FFFF);
}

.mega h3 {
    margin: 15px;
}