* {
  font-family: 'Roboto Mono';
  font-weight: 100;
}

body {
  background: linear-gradient(to right, #283048, #859398);
  color: white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body h1 {  
  letter-spacing: 2px;
}
